 <!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="../templates.fragments/head :: head"></head>


<body  class="autor bg-danger">

  <!-- ======= Header ======= -->
<!-- Image and text -->
<nav th:replace="../templates.fragments/navbar :: nav"></nav>
<!-- Card-->
<div class="container  ">
  <div class="row">
  
      <div class="col-md-2 text-white">
      
      
       
      </div>
      <div class="col-md-8 text-white">
        <!---->
        <div class="container mt-3">
            <h3>Sector de creacion de autores.</h3>
           
			            
			      <div th:if="${message} != null" class="card text-white bg-success mb-3">
			      	<div class="card-body">
			      		<h4 class="card-title">GREAT</h4>
			      		
			      	</div>
			      </div> 
       			 <p th:if="${error} != null" th:text="${error}" style="color:rgb(0, 0, 128);"></p>   
       	       <h4>Nombre</h4>
              <form th:action="@{/autor/registrar}" method="POST">
              
	              <div class="input-group mb-3">
	                <input type="text" class="form-control" placeholder="Ingrese su Nombre" id="nombre" name="nombre">
	                <div class="input-group-append">
	                  <span class="input-group-text">EJEMPLO: Juan Manuel</span>
	                </div>
	              </div>
              
             	<button type="submit" class="btn btn-success" >Submit</button>
            </form>
          </div>
          
   
      </div>
      <div class="col-md-2 text-white " >
      		
        
      </div>
  </div>
</div>




  <!-- ======= Footer ======= -->
  <footer th:replace="../templates.fragments/footer :: footer"></footer>
  <!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>

</html>
