 <!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="../templates.fragments/head :: head"></head>


<body  class="autor bg-danger">

  <!-- ======= Header ======= -->
<!-- Image and text -->
<nav th:replace="../templates.fragments/navbar :: nav"></nav>
<!-- Card-->
<div class="container  ">
  <div class="row">
  
      <div class="col-md-2 text-white">
        <p th:if="${error} != null" th:text="${error}" style="color:rgb(255, 0, 0);"></p> 
         <p th:if="${exito} != null" th:text="${exito}" style="color:rgb(128, 255, 0);"></p>
         <p th:if="${error2} != null" th:text="${error2}" style="color:rgb(255, 0, 0);"></p> 
         <p th:if="${exito2} != null" th:text="${exito2}" style="color:rgb(128, 255, 0);"></p>
      <div th:if="${message3} != null" th:text="${message3}" style="color:rgb(255, 0, 255);">      	
      	</div> 
        <p th:if="${error3} != null" th:text="${error3}" style="color:rgb(255, 0, 0);"></p>
      </div>
      	
      <div class="col-md-8 text-white"  >
        
      		<div class="container">
            <h2>Ultimos Autores</h2>
            <p>Aqui encontraras los autores y su estado.</p>  
             
       
      </div>          
            <table class="table table-hover text-white">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Alta?</th>
                  <th>Estado</th>
                  <th>Modificacion</th>
                </tr>
              </thead>
              <tbody th:each="autor : ${autores}">
              <input hidden th:value= "${id}" name ="id">
                <tr >
                  <td th:text="${autor.nombre}"></td>
                  <td th:text="${autor.alta}"></td>	
                  <td>
		                  	<i th:if="${autor.alta != 1 }"class="fa fa-circle text-success"></i>
		                  	<i th:unless="${autor.alta  }"class="fa fa-circle " style="color: rgb(255, 0, 0)"><a> Baja</a></i>
		                  
		           </td>
		           <td > <a th:href="@{/autor/baja/__${autor.id}__}" class="btn btn-dark">Dar Baja</a></td>
					 <td > <a th:href="@{/autor/alta/__${autor.id}__}" class="btn btn-danger">Dar Alta</a></td>
                </tr>
               
              </tbody>
            </table>
          </div>
        
      </div>
       <div class="col-md-2 text-white ">
       
      </div>
     
  </div>
</div>




  <!-- ======= Footer ======= -->
<footer th:replace="../templates.fragments/footer :: footer"></footer><!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>

</html>
