<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="../templates.fragments/head :: head"></head>


<body  class="autor bg-danger">

  <!-- ======= Header ======= -->
<!-- Image and text -->
<nav th:replace="../templates.fragments/navbar :: nav"></nav>
<div class="container  ">
  <div class="row">
  
      <p th:if="${error} != null" th:text="${error}" style="color:rgb(255, 0, 0);"></p> 
       	<p th:if="${exito} != null" th:text="${exito}" style="color:rgb(128, 255, 0);"></p>
        
      </div>
      <div class="col-md-12 text-white"> 
        <!---->
        <div class="container">
            <h2>Ultimos Ingresos</h2>
            <p>Aqui encontraras el catalogo mas completo de libros del pais.</p>  <a th:href="@{/prestamo/prestamo}" class="btn btn-success btn-lg btn-block"> <i class="fa fa-retweet"></i>  Te gustaria alquilar algun titulo?  <i class="fa fa-retweet"></i></a>           
            <table class="table table-hover text-white">
              <thead>
                <tr>
                <th>Foto</th>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th>Año</th>
                  <th>Editorial</th>
                  <th>Ejemplares</th>
                  <th>Ejemplares disponibles</th>
                  <th>ALTA?</th>
                  <th>Modificar</th>
                 
                </tr>
              </thead>
              <tbody th:each="libro : ${catalogo}">
                <tr>
                	<!--Prueba foto-->
                	<th> <img th:if="${libro.foto != null}" th:src="${'/foto/libro/' + libro.id}" alt="" style="max-height: 60px; ">  
                      <img th:if="${libro.foto == null}" src="../img/tapanula.jpg" alt="" style="max-height: 60px; max-widht: 60px;"> 
                      </th>
                	<!---->
                  <!--<td ><img class="bd-placeholder-omg card-img-top" th:src="${libro.foto}" style="width: auto; height:60px;"></td>-->
                  <td th:text="${libro.titulo}"></td>
                  <td th:text="${libro.autor.nombre}"></td>
                  <td th:text="${libro.anio}"></td>
                   <td th:text="${libro.editorial.nombre}"></td>
                  <td th:text="${libro.ejemplares}"></td>
                  <td th:text="${libro.ejemplaresRestantes}"></td>
                  <td th:text="${libro.alta}"></td>
                  <td >
                  <a th:href="@{/libro/modificar/__${libro.id}__}" class="btn btn-primary btn-sm"> <i class="fa fa-arrow-up"></i>Modfificar</a>
				 <a th:href="@{/libro/eliminar/__${libro.id}__}" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i>&nbsp;   Dar Baja   </a>
				  <a th:href="@{/libro/alta/__${libro.id}__}" class="btn btn-warning btn-sm"> <i class="fa fa-trash"></i>&nbsp;   Dar Alta   </a>
				
                  </td>
                  <td>
                  <form>
                  
               		
                               
                  
                  </form>
					  
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
          

        <!---->
      </div>
     
       
      </div>
  </div>
</div>




  <!-- ======= Footer ======= -->
  <footer th:replace="../templates.fragments/footer :: footer"></footer>
  <!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>

</html>
