 <!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="../templates.fragments/head :: head"></head>


<body  class="autor bg-danger">

  <!-- ======= Header ======= -->
<!-- Image and text -->
<nav th:replace="../templates.fragments/navbar :: nav"></nav>
<!-- Card-->
<div class="container  ">
  <div class="row">
  
      <div class="col-md-2 text-white">
      
      
       
      </div>
      <div class="col-md-8 text-white"  th:action="@{/editorial/lista}" method="GET">
        
      		<div class="container">
            <h2>Ultimos Autores</h2>
            <p>Aqui encontraras los autores y su estado.</p>            
            <table class="table table-hover text-white">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Alta?</th>
                  <th>Estado</th>
                     <th>Modificacion</th>
                </tr>
              </thead>
              <tbody th:each="editorial : ${editoriales}">
                <tr >
                  <td th:text="${editorial.nombre}"></td>
                  <td th:text="${editorial.alta}"></td>	
                  <td>
		                  	<i th:if="${editorial.alta != 1 }"class="fa fa-circle text-success"></i>
		                  	<i th:unless="${editorial.alta  }"class="fa fa-circle " style="color: rgb(0, 0, 0)"><a> Baja</a></i>
		                  
		           </td>
		            <td > <a th:href="@{/editorial/baja/__${editorial.id}__}" class="btn btn-dark">Dar Baja</a></td>
					 <td > <a th:href="@{/editorial/alta/__${editorial.id}__}" class="btn btn-danger">Dar Alta</a></td>
                </tr>
               
              </tbody>
            </table>
          </div>
        
      </div>
       <div class="col-md-2 text-white ">
       
      </div>
     
  </div>
</div>




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container text-center text-white ">
      <h3 ckas>Seguinos en Nuestras Redes.</h3>
      --<p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links ">
        
        <a href="https://es-la.facebook.com" class="facebook"><i class="fab fa-facebook fa-3x "></i></a>
        <a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="#" class="google-plus"><i class="fab fa-whatsapp fa-3x"></i></a>
        <a href="https://www.youtube.com" class="linkedin"><i class="fab fa-youtube fa-3x"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>BOOKSTORE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">WalterioDesign</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>

</html>
