<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="../templates.fragments/head :: head"></head>


<body  class="autor bg-danger">

  <!-- ======= Header ======= -->
<!-- Image and text -->
<nav th:replace="../templates.fragments/navbar :: nav"></nav>
<!-- Card-->
<div class="container  ">
  <div class="row">
  
      <div class="col-md-2 text-white">
         <form method="get" action="/prestamo/lista">
            <button type="submit" class="btn btn-success">Lista de Prestamos
       </form>
      </div>
      <div class="col-md-8 text-white">
        <!---->
        <div class="container mt-3">
            <h3>Ingrese sus datos.</h3>
            <p>Complete el siguiente formulario para completar el prestamo.</p>
            
            
           <p th:if="${error} != null" th:text="${error}" style="color:rgb(255, 0, 0);"></p> 
             <p th:if="${exito} != null" th:text="${exito}" style="color:rgb(128, 255, 0);"></p>
            <form th:action="@{/prestamo/prestar}" method="POST" >
             <h4>Usuario:</h4>
              <div class="input-group mb-3">  
                <div class="input-group-prepend">
                 <!---->
                 <select class="form-control" name="idcliente"  >
                      <option th:each="cliente : ${clientes}" th:value="${cliente.id}"  th:text="${cliente.nombre}"  ></option> 
                  </select>              
                 <!----> 
                </div>
               
              </div>
              
              
               <h4>Libro:</h4>
              <div class="input-group mb-3">  
                <div class="input-group-prepend">
                   <select class="form-control" name="idlibro"  >
                      <option th:each="libro : ${catalogo}" th:value="${libro.id}"  th:text="${libro.titulo}"  ></option> 
                  </select>         
                </div>
               
              </div>
                <h4>Fecha de alta:</h4>
              <div class="input-group mb-3">  
                <div class="input-group-prepend">
                  
                </div>
                <input type="date" class="form-control" placeholder="Fecha Prestamo" id="fechaPrestamo" name="fechaPrestamo">
              </div>
          
              <h4>Fecha posible baja:</h4>
              <div class="input-group mb-3">
                <input type="date" class="form-control" placeholder="Posible fecha de devolucion" id="fechaDevolucion" name="fechaDevolucion">
                <div class="input-group-append">
                  
                </div>
              </div>
             
              <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
          </div>
                       
        <!---->
      
      </div>
          <form method="get" action="/libro/catalogo">
            <button type="submit" class="btn btn-warning">volver
       </form>
        </div>
        
      
      <div class="col-md-2 text-white ">
        
      </div>
  </div>
</div>




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container text-center text-white ">
      <h3 ckas>Seguinos en Nuestras Redes.</h3>
      --<p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links ">
        
        <a href="https://es-la.facebook.com" class="facebook"><i class="fab fa-facebook fa-3x "></i></a>
        <a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="#" class="google-plus"><i class="fab fa-whatsapp fa-3x"></i></a>
        <a href="https://www.youtube.com" class="linkedin"><i class="fab fa-youtube fa-3x"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>BOOKSTORE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">WalterioDesign</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<!--javascript-->
<script src="js/prestamo.js"></script>
</body>

</html>
